* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
.main {
  margin-top: 114px;
}
.enter {
  color: #0093ff;
  font-size: 24px;
  font-weight: 400;
  text-decoration: underline;
}
.reg {
  font-size: 24px;
  font-weight: 400;
  color: #2b2b51;
}
.btn-light {
  width: 113px;
  height: 36px;
  color: #212529;
  background-color: #ffffff;
  border: 1px solid #b6c6d6;
  font-size: 15px;
  font-weight: 400;
  margin-top: 50px;
  cursor: pointer;
}

.btn-light:hover {
  color: #212529;
  background-color: #2b2b51;
}

.btn-light.disabled,
.btn-light:disabled {
  color: #212529;
  background-color: #7cc;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show>.btn-light.dropdown-toggle {
  color: #ffffff;
  background-color: #2b2b51;
}

.form-input {
  margin-top: 22px;
}

.accept {
  display: flex;
}

.form-check-accept {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-self: center;
  flex-shrink: 0;
  position: relative;
  height: 25px;
  width: 25px;
  border: 1px solid #b3c0ce;
  background-color: #fafbfb;
  cursor: pointer;
  outline: none;
}

.form-check-accept:checked::before {
  height: 40%;
  width: 80%;
  content: '';
  border: 2px solid #0093ff;
  border-top: none;
  border-right: none;
  margin: auto;
  margin-bottom: 40%;
  transform: rotate(-45deg);
}

.form-check-label {
  display: flex;
  align-items: center;
  color: #44566c;
  font-family: 'Myriad Pro';
  font-size: 12px;
  font-weight: 400;
  padding-left: 1rem;
}

.end-image {
  margin-top: 214px;
  margin-bottom: 50px;
  width: 119px;
  height: 11px;
  opacity: 0.75;
  font-size: 14px;
  font-weight: 400;
}


